
.tb-simple-btn {
  margin: 10px;
  border: none;
  padding: 10px 15px;
  background-color: $primaryColor;
  color: white;
  font-weight: bold;
  font-size: 0.85em;
  text-transform: uppercase;

  &:hover {
    background-color: $primaryColorHover;
    cursor: pointer;
  }

  h5 {
    margin-bottom: 0;
    color: white;
  }
}
