
.tb-simple-btn {
  margin: 10px;
  border: none;
  padding: 10px 15px;
  background-color: $primaryColor;
  color: white;
  font-weight: bold;
  font-size: 0.85em;
  text-transform: uppercase;

  &:hover {
    background-color: $primaryColorHover;
    cursor: pointer;
  }

  h5 {
    margin-bottom: 0;
    color: white;
  }
}

%tb-simple-btn-important {
  margin: 10px !important;
  border: none !important;
  padding: 10px 15px !important;
  background-color: $primaryColor !important;
  color: white !important;
  font-weight: bold !important;
  font-size: 0.85em !important;
  text-transform: uppercase !important;

  &:hover {
    background-color: $primaryColorHover !important;
    cursor: pointer !important;
  }

  h5 {
    margin-bottom: 0 !important;
    color: white !important;
  }
}
