
.single {

  .header-standard, .post {
    margin: 25px auto;
    width: 750px;

    @media screen and (max-width: 960px) {
      width: auto;
    }
  }

  //title area

  .header-wrapper {
    position: relative;
    width: 100%;

    .header-standard{
      margin-bottom: 20px;

      @media screen and (max-width: 960px) {
        padding-right: 0 !important;
      }

      .tb-post-excerpt {
        margin: 10px 0;
        font-style: italic;
        font-size: 0.9em;
      }
    }

    .header-social-icons {
      position: absolute;
      display: inline-block;
      right: 0;
      bottom: 0;

      @media screen and (max-width: 960px) {
        position: static;
        margin-bottom: 25px;
      }

      .header-social-icons-heading {
        margin-right: 8px;
        margin-bottom: 5px;
        text-align: right;
        text-transform: uppercase;

        @media screen and (max-width: 960px) {
          text-align: left;
        }
      }

      .header-social-link {
        position: relative;
        display: inline-block;
        margin: 0 8px 0 0;
        border-radius: 50%;
        padding-top: 6px;
        width: 30px;
        height: 30px;
        text-align: center;
        background-color: $primaryColor;
        color: white;

        .dt-share {
          display: none;
        }
      }
    }
  }

  // featured image

  .post-image {
    height: $vhMinusHeader;

    img {
      @extend %imgFitContainerWidth;
    }
  }

  // post entry

  .post-entry {
  }

  // author info

  .post-author {
    padding-bottom: 0;

    .author-img {
      margin: 0;
      width: 100%;
      text-align: center;

      img {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
      }
    }

    .tb-underline-wrapper {
      @extend %centerElement;
      @extend %tb-underline-wrapper;
      width: 30%;
    }

    .author-content {
      margin: 20px auto;
      width: 100%;
      text-align: center;

      h5 {
        a {
          margin-top: 15px;
        }
      }

      p {
        padding: 0 20%;

        @media screen and (max-width: 500px) {
          padding: 0;
        }
      }

      .author-social {

        &:hover {
          color: $primaryColor;
        }
      }

      .post-author-button-wrapper {
        width: 100%;
      }
    }
  }
}
