
.tb-caption {

  border-left: 2px solid $primaryColor;
  padding: 0 15px;
  width: 100%;
  font-style: italic;

  .tb-caption-text {
    margin-bottom: 5px;
    color: rgba(100,100,100,1);
  }

  .tb-caption-credits {
    font-size: 0.9em;
    color: rgba(200,200,200,1);
  }
}

div.wp-caption {

  .wp-caption-text {
    @extend p;
    @extend .tb-caption;
    position: static;
    margin-top: 17px;
    font-size: 0.9em;
    text-align: left;
    color: rgba(200,200,200,1);
    background-color: white;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;

    strong {
      @extend p;
      @extend .tb-caption-text;
      display: inline-block;
      margin-bottom: 5px;
      width: 100%;
      font-weight: normal;

      &::after {
        content: '';
        display: block;
      }
    }
  }

  &:hover p.wp-caption-text {
    transform: none;
    -webkit-transform: none;
    opacity: 1;
  }
}
