%caption-base {
  font-size: 0.9em;
  font-style: italic;
}

.tb-caption {
  border-left: 2px solid $primaryColor;
  padding: 0 15px;
  width: 100%;

  .tb-caption-text {
    @extend %caption-base;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgba(100,100,100,1);
  }

  .tb-caption-credits {
    @extend %caption-base;
    font-weight: normal;
    color: rgba(200,200,200,1);
  }
}

div.wp-caption {

  .wp-caption-text {
    @extend p;
    @extend .tb-caption;
    @extend %caption-base;
    position: static;
    margin-top: 17px;
    padding: {
      top: 3px;
      bottom: 3px;
    }
    font-weight: normal;
    text-align: left;
    color: rgba(200,200,200,1);
    background-color: white;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;

    strong {
      @extend p;
      @extend .tb-caption-text;
      display: inline-block;
      margin-bottom: 5px;
      width: 100%;

      &::after {
        content: '';
        display: block;
      }
    }
  }

  &:hover p.wp-caption-text {
    transform: none;
    -webkit-transform: none;
    opacity: 1;
  }
}
