
.footer-background-enabled {
  margin-top: 100px;
  padding-bottom: 50px;
  background-size: cover;
  background-position: top;

  .footer-subscribe, #footer-section {
    background: transparent;
  }

  .footer-subscribe {
    padding-top: 0px;
    padding-bottom: 100px;

    .mc4wp-form {

      .msubmit input[type="submit"] {
        background-color: $primaryColor;
      }

      input[type="email"] {
        background-color: rgba(240,240,240,0.4);
      }
    }
  }

  #footer-section {

    span, i, p, a {
      color: white !important;
    }

    .footer-socials-section {
      border: none;
    }
  }
}
