#header {
  margin-bottom: 30px;
}

.header-logo-wrapper {

  position: absolute;
  z-index: 1;
  top: 70px;
  left: 15px;
  width: 100px;
}

@media screen and (max-width: 960px) {
  .header-logo-wrapper {
    display: none;
  }
}

#navigation-sticky-wrapper.is-sticky {

  .header-logo-wrapper {
    top: 5px;
  }
}
